<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator Panel</title>
</head>
<body>
<div>
    <form class="form-horizontal col-lg-4">
        <fieldset>
            <div class="form-group">
                <button class="btn btn-success" href="#userlist" ng-click="getUsers()">Menage users</button>
            </div>
        </fieldset>
    </form>
    <div id="userlist" ng-show="boolUserList">
        <div>
            <h1>Adding a user</h1>
            <form class="form-horizontal col-lg-4">
                <fieldset>
                    <div class="form-group">
                        <input type="text" ng-model="newUserData.login" class="form-control"
                               placeholder="username">
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="newUserData.password" class="form-control"
                               placeholder="password">
                    </div>
                    <div class="form-group">
                <textarea ng-model="newUserData.role" class="form-control"
                          placeholder="User role: ADMIN || USER"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="addUser()">Add new user</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Nr</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td width="50">{{$index +1}}</td>
                <td>{{user.login}}</td>
                <td>{{user.roles}}</td>
                <td width="150">
                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"
                            ng-click="editUser(user)"><span
                            class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"
                            ng-click="removeUser(user)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-success btn-xs" data-title="Details" data-toggle="modal"
                            data-target="#details">
                        <span class="glyphicon glyphicon-info-sign"></span></button>
                </td>

            </tr>
            </tbody>
        </table>
        <!-- <ul>
             <li><span>{{$index +1}}. Login: {{user.login}}, role: {{user.roles}}    </span><span class="glyphicon glyphicon-trash" ng-click="deleteUser(user)"></span></li>
         </ul>-->
    </div>
</div>
<div id="edit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit user</h4>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <input type="text" ng-model="userEdit.login" class="form-control"
                                   ng-attr-placeholder="{{userEdit.login}}">
                        </div>
                        <div class="form-group">
                <textarea ng-model="userEdit.role" class="form-control"
                          placeholder="roles"></textarea>
                        </div>
                        <div class="form-group">
                <textarea ng-model="userEdit.password" class="form-control"
                          placeholder="Description"></textarea>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-warning" ng-click="updateUser()" data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="delete" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete user</h4>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <p>Warning! You are going to permanently remove this user</p>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-danger" ng-click="deleteUser()" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <form>
        <fieldset>
            <div class="form-group">
                <button class="btn btn-success" href="#genelist" ng-click="getGenes()">Manage genes</button>
            </div>
        </fieldset>
    </form>
    <div id="genelist" ng-show="boolGeneManager">
        <div>
            <h1>Adding a gene</h1>
            <form class="form-horizontal col-lg-4">
                <fieldset>
                    <div class="form-group">
                        <input type="text" ng-model="newGeneData.name" class="form-control"
                               placeholder="gene name">
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="newGeneData.description" class="form-control"
                               placeholder="gene description">
                    </div>
                    <div class="form-group">
                        <label for="typeGene">Select gene (select one):</label>
                        <select name="repeatSelect" class="form-control" id="typeGene" ng-model="newGeneData.geneTypes">
                            <option value="Ylinked">Y-linked</option>
                            <option value="Xlinked">X-linked</option>
                            <option value="Autosomal">Autosomal</option>
                        </select>
                        <div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="addGene()">Add new gene</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Nr</th>
                <th>Gene Name</th>
                <th>Gene Description</th>
                <th>Gene Type</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="gene in genes">
                <td width="50">{{$index +1}}</td>
                <td>{{gene.name}}</td>
                <td>{{gene.description}}</td>
                <td>{{gene.geneTypes}}</td>
                <td width="150">
                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#editGene"
                            ng-click="editGene(gene)"><span
                            class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#deleteGene"
                            ng-click="removeGene(gene)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-success btn-xs" data-title="Details" data-toggle="modal"
                            data-target="#details">
                        <span class="glyphicon glyphicon-info-sign"></span></button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="deleteGene" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete gene</h4>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <p>Warning! You are going to permanently remove this gene</p>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-danger" ng-click="deleteGene()" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editGene" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete gene</h4>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <input type="text" ng-model="geneEdit.name" class="form-control"
                                   placeholder="gene name">
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="geneEdit.description" class="form-control"
                                   placeholder="gene description">
                        </div>
                        <div class="form-group">
                            <label for="typeGene">Select gene type(select one):</label>
                            <select name="repeatSelect" class="form-control" id="typeofGene" ng-model="geneEdit.geneTypes">
                                <option value="Ylinked">Y-linked</option>
                                <option value="Xlinked">X-linked</option>
                                <option value="Autosomal">Autosomal</option>
                            </select>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-danger" ng-click="updateGene()" data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>