<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Aquaria </title>
</head>
<body>
<h1>My Aquaria</h1>
<div ng-repeat="aquarium in aquariums" class="container">
        <!--<span class="glyphicon glyphicon-chevron-up" ng-click="aquarium.aquariumFishesVisible=false"
              ng-show="aquarium.aquariumFishesVisible"></span>
        <span class="glyphicon glyphicon-chevron-down" ng-click="getFishes(aquarium)"
              ng-hide="aquarium.aquariumFishesVisible"></span>-->
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>Aquarium Nr:</th>
            <th>Aquarium name:</th>
            <th>Aquarium description:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><button data-toggle="collapse" class="btn btn-default" data-target="#aquadetails">Aquarium {{$index +1}} </button></td>
            <td>{{aquarium.name}}</td>
            <td>{{aquarium.description}}</td>
        </tr>
        </tbody>
    </table>
    <div id= "aquadetails" class="collapse"><!--ng-show="aquarium.aquariumFishesVisible"-->
        <div class="edit-aquarium">
            <button>Edit aquarium</button>
        </div>
        <div class="remove-aquarium">
            <button>Remove aquarium</button>
        </div>
        <span>Fish list</span>
        <div class="fish-list" ng-repeat="fish in aquarium.fishes">
            <ul>
                <li><span>{{$index +1}}. {{fish.firstName}} {{fish.lastName}}</span></li>
            </ul>

        </div>
        <form><input type="text" name="fish-name"><input type="submit" value="Add new fish"></form>
        <input type="text" ng-model="newAquariumData.name">
        <button ng-click="addAquarium()">Add new aquarium</button>
        <br/>
        <br/>
    </div>
</div>
<hr>
</body>
</html>
