<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My fish</title>
</head>
<body>
<h1>My fish</h1>
<div class="fish-container">
    <span>Choose an aquarium</span><span class="aquarium-name">
      <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="aquarium in aquariums"><a href="#fishlist" ng-click="getFishes(aquarium)">{{aquarium.name}}</a></li>
          </ul>
      </div>
    </span>
    <div id="fishlist" ng-show="aquarium">
        <span>Fish list for {{aquarium.name}}</span>
        <div class="fish-list">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Nr</th>
                    <th>Fish Name</th>
                    <th>Fish Description</th>
                    <th>Genes Names</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="fish in aquarium.fishes">
                    <td width="50">{{$index +1}}</td>
                    <td>{{fish.firstName}}</td>
                    <td>{{fish.lastName}}</td>
                    <td>{{fish.genes}}</td>
                    <td width="150">
                        <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#editGene"
                                ng-click="editGene(gene)"><span
                                class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#deleteGene"
                                ng-click="removeGene(gene)">
                            <span class="glyphicon glyphicon-trash"></span></button>
                        <button class="btn btn-success btn-xs" data-title="Details" data-toggle="modal"
                                data-target="#details">
                            <span class="glyphicon glyphicon-info-sign"></span></button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <form class="form-horizontal col-lg-5">
            <fieldset>
                <div class="form-group">
                    <input type="text" ng-model="newFishData.firstName" class="form-control"
                           placeholder="First name">
                </div>
                <div class="form-group">
                <textarea ng-model="newFishData.lastName" class="form-control"
                          placeholder="Last name"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-click="addFish(aquarium)">Add new fish</button>
                </div>
            </fieldset>
        </form>
    </div>

</div>
</body>
</html>
