<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My fish</title>
</head>
<body>
<h1>My fish</h1>h1>
<div class="fish-container">
  <span>being kept in aquarium</span><span class="aquarium-name">akwa nazwa</span>
  <div class="males">
    <h2>Males</h2>
      <span>1. Nazwa samca</span>
        <span>Genes:</span>
        <div class="geny">
          Y-linked:
          X-linked:
          Autosomal:
        </div>
  </div>
  <div class="females">
    <h2>Females</h2>
    <span>1. Nazwa samicy</span>
    <span>Genes:</span>
    <div class="geny">
      X-linked:
      X-linked:
      Autosomal:
    </div>
  </div>

</div>
</body>
</html>
