<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User login</title>
</head>
<body>
<h1>Login page</h1>
<form class="form-inline">
    <div class="form-group">
        <label for="login">Username:</label>
        <input type="text" class="form-control" id="login" name="loginInput" ng-model="login">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="passwordInput" ng-model="password">
    </div>
    <button type="submit" class="btn btn-default" ng-click="loginOnClick()">Submit</button>
</form>

</body>
</html>
